.virkopedia {
  @include component-container;

  .virkopedia-container {
    @include flex-col-gap-1rem;

    @include breakpoint-md-up {
      flex-direction: row;
    }

    p {
      margin-bottom: 1.25rem;
      line-height: 2rem;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint-md-up {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 0 0 200px;
    }

    .article-btn {
      @include button($noBorder, $paddingSmallButton, $fontSizeMediumButton);
      text-decoration: underline;

      @include breakpoint-md-up {
        font-size: $fontSizeLargeButton;
      }
    }

    .active-btn {
      @include button($noBorder, $paddingSmallButton, $fontSizeMediumButton);
      font-weight: $font-weight-bold;

      @include breakpoint-md-up {
        font-size: $fontSizeLargeButton;
      }
    }
  }
}
