.dark-mode-wrapper {
  color: var(--darkmode-font-and-border);
  background-color: var(--darkmode-background);
  border-color: var(--darkmode-font-and-border);
  transition: $transition;
}

.light-theme {
  --darkmode-background: #fff;
  --darkmode-font-and-border: #282c35;
  --darkmode-border-shadow: 0 0 0.6rem 0 #888888;
  --darkmode-hover-color: rgb(101, 167, 189);
}

.dark-theme {
  --darkmode-background: #282c35;
  --darkmode-font-and-border: #fff;
  --darkmode-border-shadow: 0 0 0.6rem 0 #dadada;
  --darkmode-hover-color: rgb(131, 185, 203);
}
